<table class="table table-striped table-sm">
    <tr>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Email</td>
        <td>Password</td>
        <td>Action</td>
    </tr>
    <tr *ngFor="let user of users, let i = index">
      
        <td>{{user.nom}}</td>
        <td>{{user.prenom}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.password}}</td>
        <td> 
            <button class="btn btn-danger m-1" (click)="deleteUser(i)" type="button">Delete</button>
            <button class="btn btn-primary m-1" (click)="updateUserAction(i)" type="button">Update</button>
        </td>
    </tr>
</table>
